#tips,#head,#content,#fooler-server,#fooler-link,#fooler-intro{width: 100%;overflow: hidden;margin: 0 auto;}
#tips{height: 74px;}

#head .head-1{background: url(../img/index/head1-bc.jpg) repeat-x;height:41px ;width: 100%;position: relative;}
#head .head-1 .head-ul1 a{background:url(../img/index/head-bc1.gif) no-repeat right center;float:left;padding: 13px 20px 7px 20px;line-height:20px;display: block;margin-top:3px ;font-size: 13px;font-weight: bold;}
#head .head-1 .head-ul1 a:hover{color: #FF5C00;}
#head .head-1 .head-ul1 .head-li1 a{color: #ff5c00;background: white;border: 1px solid #CCCCCC;border-radius:2px ;border-bottom: 0;}
#head .head-1 .head-ul1{margin-right: 291px;}
#head .head-1 .head-span{line-height: 41px;position: absolute;left: 550px;top: 0;color: #666666;}
#head .head-1 .head-ul2{left:798px;color: #666666;position: absolute;z-index: 2;}
#head .head-1 .head-ul1 #head-li3 .head-img{float:left;margin-right: 20px;}
#head .head-1 .head-ul1 #head-li3 span{float: left;}
#head .head-1 .head-ul1 #head-li3:hover a{background: white;border: 1px solid #FF5C00;padding: 12px 19px 7px 19px;border-bottom:0 ;border-radius: 3px;}
#head .head-1 .head-span a{color: #ff5c00;}
#head .head-1 .head-span a:hover{text-decoration: underline;}
#head .head-1 .head-ul2 li a{position:relative;line-height: 41px;padding:0 4px 0 6px;margin:0 1px 0 1px;border-left: 1px solid #cccccc;}
#head .head-1 .head-ul2 .better1 a{padding-right:18px;overflow: hidden;}
#head .head-1 .head-ul2 .better2 a{padding-right:16px;overflow: hidden;}
#head .head-1 .head-ul2 .better4 a{padding-right:16px;overflow: hidden;}
#head .head-1 .head-ul2 li a:hover{color: #FF5C00;}
#head .head-1 .head-ul2 .head-li2-ul1 li{float: none;clear: both;}
#head .head-1 .head-ul2 .head-li2-ul2 li{float: none;clear: both;}
#head .head-1 .head-ul2 .head-li2-ul3 li{float: none;clear: both;}
#head .head-1 .head-ul2 .head-li2-ul1 li a{background: white;border: 0;}
#head .head-1 .head-ul2 .head-li2-ul2 li a{background: white;border: 0;}
#head .head-1 .head-ul2 .head-li2-ul3 li a{background: white;border: 0;}
#head .head-1 .head-ul2 .head-li2-ul1{float: none; display: none;}
#head .head-1 .head-ul2 .head-li2-ul2{float: none;display: none;}
#head .head-1 .head-ul2 .head-li2-ul3{float: none;display: none;}
#head .head-1 .head-ul2 .better1:hover{border: 1px solid #ff5c00;background: white;}
#head .head-1 .head-ul2 .better2:hover{border: 1px solid #ff5c00;background: white;}
#head .head-1 .head-ul2 .better4:hover{border: 1px solid #ff5c00;background: white;}
#head .head-1 .head-ul2 .better1:hover .head-li2-ul1{display: block;}
#head .head-1 .head-ul2 .better2:hover .head-li2-ul2{display: block;}
#head .head-1 .head-ul2 .better4:hover .head-li2-ul3{display: block;}
#head .head-1 .head-ul2 .better1:hover .head-li2-ul1 a{padding: 0;margin-left: 7px;}
#head .head-1 .head-ul2 .better1:hover a{padding-right: 16px;line-height: 39px;}
#head .head-1 .head-ul2 .better2:hover a{padding-right: 14px;line-height: 39px;}
#head .head-1 .head-ul2 .better4:hover a{padding-right: 14px;line-height: 39px;}
#head .head-1 .head-ul2 .head-i1 {display: block;width: 8px;height: 4px;background: url(../img/index/head1-jiantou.png) no-repeat;position: absolute;left: 58px;top: 5px;transition: all 0.2s;}
#head .head-1 .head-ul2 .head-i2 {display: block;width: 8px;height: 4px;background: url(../img/index/head1-jiantou.png) no-repeat;position: absolute;left: 58px;top: 5px;transition: all 0.2s;}
#head .head-1 .head-ul2 .head-i3 {display: block;width: 8px;height: 4px;background: url(../img/index/head1-jiantou.png) no-repeat;position: absolute;left: 58px;top: 5px;transition: all 0.2s;}
#head .head-1 .head-ul2 .ahead-i1{display: block;width: 8px;height: 4px;background: url(../img/index/jiantou.png) no-repeat;position: absolute;left: 58px;top: 40px;opacity:0;transition: all 0.2s;}
#head .head-1 .head-ul2 .ahead-i2{display: block;width: 8px;height: 4px;background: url(../img/index/jiantou.png) no-repeat;position: absolute;left: 58px;top: 40px;opacity:0;transition: all 0.2s;}
#head .head-1 .head-ul2 .ahead-i3{display: block;width: 8px;height: 4px;background: url(../img/index/jiantou.png) no-repeat;position: absolute;left: 58px;top: 40px;opacity:0;transition: all 0.2s;}
#head .head-1 .head-ul2 .better1:hover .head-i1{top: -10px;opacity: 0;}
#head .head-1 .head-ul2 .better1:hover .ahead-i1{top: 5px;opacity: 1;}
#head .head-1 .head-ul2 .better2:hover .head-i2{top: -10px;opacity: 0;}
#head .head-1 .head-ul2 .better2:hover .ahead-i2{top: 5px;opacity: 1;}
#head .head-1 .head-ul2 .better4:hover .head-i3{top: -10px;opacity: 0;}
#head .head-1 .head-ul2 .better4:hover .ahead-i3{top: 5px;opacity: 1;}
#head-li3 a .head-img{border:0;width: 12px;height: 20px;background:url(../img/index/snow/sprite215new.png) no-repeat ;background-position-y:-240px;transition: all 0.2s ;background-position-x:-320px;}
#head-li3:hover a .head-img{background-position-y: -265px;}
#head .head-1 .head-ul2 .better1:hover .head-li2-ul1 a{line-height: 20px;}
#head .head-1 .head-ul2 .better2:hover .head-li2-ul2 a{line-height: 20px;}
#head .head-1 .head-ul2 .better4:hover .head-li2-ul3 a{line-height: 20px;}



#head .head-2{background: ;height:90px ;padding-top:28px;width: 100%;background: url(../img/index/head2-bc.jpg);}
#head .head-2 .head-2-img1{clear:both;position: absolute;left: 177px;top: 148px;width: 150px;height: 53px;}
#head .head-2 .head-2-div dl{float:left;margin-left: 32px;text-align: center;cursor: pointer;}
#head .head-2 .head-2-div{position: absolute;left: 376px;top: 144px;}
#head .head-2 .head-2-div dl dt{margin-bottom: 8px;}
#head .head-2 .head-2-div dl dd{color: #666666;}


#head .head-2 .head-2-right{height: 118px;width: 622px;position: absolute;left: 765px;top: 144px;}
#head .head-2 .head-2-right .head-2-search{width: 494px;height: 40px;background: #ff5c00;box-shadow: 3px 1px 0px #CCCCCC;}
#head .head-2 .head-2-right .head-2-search input{color:#666666;text-indent:8px;font-size:11px;outline:none;width: 428px;height: 36px;border: 0;margin:2px 21px 0 2px;float: left;}
#head .head-2 .head-2-right .head-2-search img{float: left;margin-top: 8px;}
.head-2 .head-2-right .head-2-ul li{cursor: pointer;margin-right: 13px;margin-top: 9px;color: #666666;}
.head-2 .head-2-right .head-2-ul li:hover{color: #FF5C00;}


#content{width: 100%;}
#nav{height: 35px;}
#nav ul li a{margin-left: 40px;line-height: 35px;font-size: 14px;font-family: "微软雅黑";}
#nav ul .nav-i{width: 9px;height: 6px;display:block;background-image: url(../img/index/snow/top_bar2.png);background-position: -110px -65px;float: left;margin-top:14px;margin-left: 10px;}
#nav ul .nav-a{float: left;}
#nav-bottom{height: 21px;width: 100%;top:275px;background: url(../img/index/snow/nav_bottom_bg.png) repeat-x;position: absolute;z-index: 3;}
#nav-right .img{float:left;display:block;background:url(../img/index/snow/top_bar2.png) no-repeat -139px -71px ;width: 28px;height: 28px;}
#nav-right {width: 220px;height: 35px;float: left;margin-left: 170px;margin-top: 10px;position: relative;}
#nav-right .text{position:absolute;left:35px;top:0;text-indent: 10px;color: #FF5C00;}
#nav .nav-ul2{clear: both;position: absolute;z-index: 100;left: 0;top: 35px;display: none;}
#nav .nav-ul2 li{position:relative;clear: both;color: #666666;width: 139px;text-indent: 7px;background: white;z-index: 2;}
#nav ul .nav-li1:hover .nav-i{background-position: -117px -74px;}
#nav ul .nav-li1:hover .nav-ul2{display: block;cursor: pointer;}

#nav .nav-ul2 li .nav-left{width: 15px;height: 15px;display: block;float: left;margin-top: 12px;}
#nav .nav-ul2 li .nav-right{width: 15px;height: 15px;display: block;float:right;background:url(../img2/xinmayup.png) no-repeat -117px -84px;position: absolute;left: 115px;top: 15px;}
#nav .nav-ul2 li .left1{background:url(../img/index/snow/top_bar2.png) no-repeat -114px 0 ;}
#nav .nav-ul2 li .left2{background:url(../img/index/snow/top_bar2.png) no-repeat -113px -20px ;}
#nav .nav-ul2 li .left3{background:url(../img/index/snow/top_bar2.png) no-repeat -129px 0 ;}
#nav .nav-ul2 li .left4{background:url(../img/index/snow/top_bar2.png) no-repeat -146px 0px ;}
#nav .nav-ul2 li .left5{background:url(../img/index/snow/top_bar2.png) no-repeat -129px -20px ;}
#nav .nav-ul2 li .left6{background:url(../img/index/snow/top_bar2.png) no-repeat -146px -24px ;}
#nav .nav-ul2 li .left7{background:url(../img/index/snow/top_bar2.png) no-repeat -113px -42px ;}
#nav .nav-ul2 li .left8{background:url(../img/index/snow/top_bar2.png) no-repeat -131px -44px ;}
#nav .nav-ul2 li .left9{background:url(../img/index/snow/top_bar2.png) no-repeat -151px -43px ;}


#nav .nav-ul2 li:hover .whiteborder{height: 37px;border-right:1px solid white ;line-height: 37px;}
#nav .nav-ul2 li .whiteborder {height: 39px;line-height: 39px;padding-left: 20px;background: white;line-height: 39px;position: relative;z-index: 10;}
#nav ul .zhuanqu:hover ul{opacity:1;border: 1px solid #FF5C00;border-top:0;width:78px;}
#nav ul .zhuanqu a:hover{color: #FF5C00;}
#nav ul .zhuanqu ul{opacity: 0;transition: all 1s;border: 1px solid #FF5C00;border-top:0;}
#nav .nav-ul2 li:hover .nav-right{top: 14px;left:114px ;}
#nav .nav-ul2 li .bignav{width: 948px;overflow: hidden;position: absolute;background: white;left: 138px;top: -1px;z-index: 1;display: none;border-right: 1px solid #FF5C00;border-bottom: 1px solid #FF5C00;border-left: 1px solid #FF5C00;border-top: 1px solid #FF5C00;}
#nav .nav-ul2 li:hover .bignav{width: 947px;display: block;}
#nav .nav-ul2 li:hover .bignav .box-left{padding: 8px 29px;}
#nav .nav-ul2 li .bignav .box-left{width: 675px;overflow: hidden;float: left;padding: 9px 30px;border-right: 1px dotted #CCCCCC;}
#nav .nav-ul2 li .bignav .box-right{width: 210px;height: 349px;overflow: hidden;float: right;}
#nav .nav-ul2 li .bignav .box-left dl dt{font-weight: bold;border-bottom: 1px dotted #CCCCCC;line-height: 26px;}
#nav .nav-ul2 li .bignav .box-left dl dd{line-height: 26px;}
#nav .nav-ul2 li .bignav .box-right img{float: left;padding: 10px 2px;}
#nav .nav-ul2 li .bignav .box-left dl dt a{margin-left: 0;line-height: 26px;font-size: 12px;color:#666666;}
#nav .nav-ul2 li .bignav .box-left dl dd a{margin-left: 0;line-height: 26px;font-size: 12px;padding: 0 4px;color:#666666;}
#nav .nav-ul2 li .bignav .box-left dl dt a:hover{color: #FF5C00;}
#nav .nav-ul2 li .bignav .box-left dl dd a:hover{color: #FF5C00;}
#select-1 .bannerstyle{background: #FF5C00;}


#content-main{background:url(../img2/outerBg.png) no-repeat -150px top #e9e9e9;width: 100%;overflow: hidden;position: relative;}




#lunbo{width: 5450px;height: 350px;position: absolute;}
#lunbo img{float: left;}


#lunbo-box{width: 1090px;height: 350px;position: relative;left: 0px;top: 0px;overflow: hidden;}
#select{width: 102px;height: 19px;position: absolute;z-index:6;opacity: 0.3;filter:alpha(opacity=300);background: black;border-radius: 10px;left:50%;bottom: 10px;clear: both;margin-left: -51px;}
#select-1 li{width: 13px;height: 13px ;border-radius: 50%;background: white;float: left;margin-right: 5px;margin-left: 6px;margin-top: 3px;}
#select-1{cursor:pointer;width: 102px;height: 19px;position: absolute;z-index:7;bottom: 10px;left:50%;margin-left: -51px;}


#topblock{width: 100%;height: 46px;position: fixed;top: 0;left: 0;background: white;border-top:1px solid #FF5C00; border-bottom:1px solid #FF5C00;display:none;z-index: 10;}
#topblock .content{width: 1090px;height:46px;margin: 0 auto;}
#top-ul{width: 438px;height: 46px;float: left;}
#top-ul li a{color: #FF5C00;font-weight: bold;font-size: 14px;line-height: 46px;display: block;padding:0px 15px ;}
#top-ul li:hover .top-a{border-left: 1px solid #FF5C00;border-right: 1px solid #FF5C00;padding: 0 14px;}
#top-ul li:hover .top-ul2{display: block;}
#top-ul li .top-ul2{display: none;}
#top-ul li .top-ul2 a:hover{color:#FF5C00;background: white;}
#top-ul li .top-ul2 a{color: white;background: #FF5C00;}
#top-right {width: 396px;padding:4px 0;float: left;margin-left: 140px;}
#top-right input{height: 33px;width: 350px;border: 2px solid #FF5C00 ;float: left;}

#rightblock{width: 37px;height: 100%;background: white;position: fixed;z-index: 100;right: 0;top: 0;box-shadow: -2px -2px 10px #666666;}
#rightblock div{width: 37px;display: inline-block;}
#rightblock .ren{height: 22px;width: 22px;background:url(../img2/righticon.png) 0 0 no-repeat #FFFFFF;border: 8px solid white;margin-top: 80px;margin-bottom: 80px;
				cursor: pointer;}
#rightblock .ren:hover{background: url(../img2/righticon.png) -22px 0 #FF5C00;border: 8px solid #FF5C00;}
#rightblock i{display:block;width: 22px;margin-bottom:15px;height: 22px;background: url(../img2/righticon.png) 0 -24px no-repeat #FFFFFF;margin-left: 8px;margin-top: 20px;}
#rightblock a{width: 22px;overflow: hidden;display: block;margin-left: 12px;margin-bottom:10px;}
#rightblock span{color:#FF5C00;width: 22px;overflow: hidden;display: block;font-size: 16px;margin-left: 5px;}
#rightblock .p-top{height: 1px;width: 20px;background: #CCCCCC;margin-left: 8px;}
#rightblock .p-bottom{height: 1px;width: 20px;background: #CCCCCC;margin-left: 8px;margin-top: 10px;}


#rightblock .che:hover i{background: url(../img2/righticon.png) -22px -24px no-repeat #FF5C00}
#rightblock .che:hover {background: #FF5C00;cursor: pointer;}
#rightblock .che:hover a{color: white;}
#rightblock .che:hover span{color:white;}

#rightblock .tu{height: 22px;width: 22px;background:url(../img2/righticon.png) 0 -50px no-repeat #FFFFFF;border: 8px solid white;margin-top: 40px;margin-bottom: 30px;
				cursor: pointer;}
#rightblock .tu:hover{background:url(../img2/righticon.png) -22px -50px no-repeat #FF5C00;border:8px solid #FF5C00;}

#rightblock .xing{height: 22px;width: 22px;background:url(../img2/righticon.png) 0 -74px no-repeat #FFFFFF;border: 8px solid white;margin-bottom: 30px;
				cursor: pointer;}
#rightblock .xing:hover{background:url(../img2/righticon.png) -22px -74px no-repeat #FF5C00;border:8px solid #FF5C00;}

#rightblock .kefu-i{display: block;width: 22px;height: 22px;background:url(../img2/righticon.png) -22px -100px no-repeat #FF5C00 ;cursor: pointer;}
#rightblock .kefu-span{width: 24px;overflow: hidden;display: block;font-size: 12px;color: white;background: #FF5C00;}
#rightblock .kefu{background: #FF5C00;padding-bottom: 10px;}

#rightblock .zhiding{height: 22px;width: 22px;background:url(../img2/righticon.png) 0 -130px no-repeat #FFFFFF;border: 8px solid white;margin-top: 40px;margin-bottom: 30px;
				cursor: pointer;}
#rightblock .zhiding:hover{background:url(../img2/righticon.png) -22px -130px no-repeat #FF5C00;border:8px solid #FF5C00;}
#rightblock #login{display:none;width:280px;height: 155px;position: fixed;z-index: 3;background:url(../img2/userimg.jpg) no-repeat center 30px white;right: 55px;top:80px;box-shadow: -5px 5px 10px #CCCCCC;}
#login p {margin-top:100px ;margin-left: 40px;display: inline-block;height: 19px;line-height: 19px;}
#login p a{color: #FF5C00;display: inline-block;width: 44px;margin-bottom: 0;}
#login p span{line-height: 19px;display: inline-block;width: 120px;font-size: 12px;color: black;}


#rightblock #login2{display:none;width:280px;height: 155px;position: fixed;z-index: 10;background:url(../img2/userimg.jpg) no-repeat center 30px white;right: 55px;top:450px;box-shadow: -5px 5px 10px #CCCCCC;}
#login2 p {margin-top:100px ;margin-left: 40px;display: inline-block;height: 19px;line-height: 19px;}
#login2 p a{color: #FF5C00;display: inline-block;width: 44px;margin-bottom: 0;}
#login2 p span{line-height: 19px;display: inline-block;width: 120px;font-size: 12px;color: black;}

#kefu-float{display:none;padding:15px 25px;position: fixed;z-index: 10;right: 55px;top:530px;box-shadow: -5px 5px 10px #CCCCCC;background: white;}
#kefu-float p{}

#zhiding-float{display:none;padding:15px 25px;position: fixed;z-index: 10;right: 55px;top:670px;box-shadow: -5px 5px 10px #CCCCCC;background: white;}
#zhiding-float p{}


#timer{width: 1090px;height: 544px;margin: 0 auto;margin-top: 23px;}
#timer-top{float: left;width: 100%;height: 53px;border-bottom: 3px solid #FF5C00;}
#timer-top h2{margin-top:6px;margin-right:313px;float: left;width: 120px;height: 32px;background: url(../img2/newIndexIcon.png) no-repeat -184px -232px;}
#timer-top .jishiqi {float: left;width: 234px;height: 38px;margin: 0 auto;}
#timer-top .jishiqi p{float: left;line-height: 37px;font-weight:bold ;color: #666666;}
#timer-top .jishiqi div{float: left;width: 156px;height: 37px;}
#timer-top .jishiqi div span{display: block;float: left;}
#timer-top .jishiqi div .tspan1,.tspan3,.tspan5{padding-top:2px;text-align:center;font-size:24px;color:white;font-weight:bolder;font-family:"微软雅黑";width: 40px;height: 35px;background:#666666;border-radius: 5px;}
#timer-top .jishiqi div .tspan1,.tspan2,.tspan3,.tspan4{margin-right: 5px;}
#timer-top .jishiqi div .tspan2,.tspan4{width: 8px;height: 37px;background: url(../img2/newIndexIcon.png) no-repeat -111px -80px;}
#timer-top .leftbtn {cursor:pointer;margin-left:360px;float: left;margin-top:4px;height: 30px;width: 30px;background: url(../img2/newIndexIcon.png) no-repeat -165px -83px;}
#timer-top .rightbtn {cursor:pointer;float: left;margin-top: 4px;width: 30px;height: 30px;background: url(../img2/newIndexIcon.png) no-repeat -195px -53px}
#timer-top .leftbtn:hover {cursor:pointer;margin-left:360px;float: left;margin-top:4px;height: 30px;width: 30px;background: url(../img2/newIndexIcon.png) no-repeat -165px -83px;}
#timer-top .rightbtn:hover {cursor:pointer;float: left;margin-top: 4px;width: 30px;height: 30px;background: url(../img2/newIndexIcon.png) no-repeat -195px -83px;}


#timer-content{float: left;width: 100%;overflow: hidden;}
#timer-content ul{margin-top: 15px;}
#timer-content #timer-ul1 li{display: block;width: 262px;height: 302px;border-radius:5px ;background: white;margin-right: 14px;position: relative;}
#timer-content ul li .timer-miss{width: 100%;height: 100%;background:black;opacity: 0.4;border-radius:5px ;display: none;position: absolute;}
#timer-content ul li .qiang{cursor:pointer;text-align:center;width: 158px;height: 201px;background: url(../img2/newIndexIcon.png) no-repeat 0 -126px;position: absolute;z-index: 2;left: 50%;margin-left:-79px ;top: 40px;opacity: 0;filter: alpha(opacity=0);}
#timer-content ul li .qiang p{color: white;margin-top: 110px;font-size: 12px;font-weight: bold;}
#timer-content ul li dl img{margin-top:10px;margin-left:16px;width: 232px;height: 242px;float: left;}
#timer-content ul li dl dd{width: 168px;height: 38px;float: left;margin-right: 10px;margin-left:10px;line-height: 18px;margin-top: 10px;color: #666666;}
#timer-content ul li dl dt{width: 62px;height: 18px;float: right;margin-right: 0px;line-height: 18px;margin-top: 10px;color: #cc0004;font-size: 12px;font-family: "微软雅黑";font-weight: bold;text-align: center;}


#timer-content #timer-ul2 li{display: block;width: 350px;height: 140px;background: white;margin-right: 17px;border: 1px solid #CCCCCC;}
#timer-content #timer-ul2 li:hover{display: block;width: 350px;height: 140px;background: white;margin-right: 17px;border: 1px solid #FF5C00;}


#hot-team{width: 100%;overflow: hidden;margin: 0 auto;}
#title{width: 100%;padding: 20px 0;float: left;}
#title span{display: inline-block;width: 450px;height: 1px;background: #666666;float: left;margin-top: 13px;}
#title p{width: 119px ;height: 49px;float: left;background: url(../img2/newIndexHeader.png) no-repeat 0 -110px;margin: 0 35px;}
#hot-product .list img{width: 600px;height: 280px;border-right: 1px solid #cccccc ;float: left;}
#hot-product .list {width: 1088px;height: 280px;background: white;float: left;border-radius: 10px;overflow: hidden;margin-bottom: 22px;border: 1px solid #e9e9e9;cursor: pointer;}
#hot-product .list dl{position:relative;float: left;width: 458px;height: 260px;padding: 20px 10px 0 18px;font-size: 20px;font-weight: bold;color: #666666;font-family: "微软雅黑";}
#hot-product .list dl dt{font-weight: 200;font-size: 15px;margin-top: 10px;float: left;font-family: "微软雅黑";}
#hot-product .list dl p{width: 458px;height: 1px;float: left;background: #CCCCCC;margin-top: 5px;}
#hot-product .list dl .ddleft{position:absolute;width: 458px;color: #df2943;left: 10px;bottom: 10px;}
#hot-product .list dl .ddleft span{font-size:32px;font-family: "微软雅黑";}
#hot-product .list dl .ddright{width: 50px;height: 50px;position: absolute;background: #FF5C00;color: white;border-radius:50% ;text-align: center;font-size: 19px;padding:5px ;right: 10px;bottom: 10px;}
#hot-product .list:hover {border: 1px solid #FF5C00;}
#hot-product .list dl .t-a:hover{color:#FF5C00};


#today{width: 100%;overflow: hidden;margin: 0 auto;}
#title1{width: 100%;padding: 20px 0;float: left;}
#title1 span{display: inline-block;width: 450px;height: 1px;background: #666666;float: left;margin-top: 13px;}
#title1 p{width: 119px ;height: 49px;float: left;background: url(../img2/newIndexHeader.png) no-repeat 0 -166px;margin: 0 35px;}
#hot-product1 .list img{width: 600px;height: 280px;border-right: 1px solid #cccccc ;float: left;}
#hot-product1 .list {width: 1088px;height: 280px;background: white;float: left;border-radius: 10px;overflow: hidden;margin-bottom: 22px;border: 1px solid #e9e9e9;cursor: pointer;position: relative;}
#hot-product1 .list dl{position:relative;float: left;width: 458px;height: 260px;padding: 20px 10px 0 18px;font-size: 20px;font-weight: bold;color: #666666;font-family: "微软雅黑";}
#hot-product1 .list dl dt{font-weight: 200;font-size: 15px;margin-top: 10px;float: left;font-family: "微软雅黑";}
#hot-product1 .list dl .p3{width: 458px;height: 1px;float: left;background: #CCCCCC;margin-top: 5px;}
#hot-product1 .list dl .ddleft{position:absolute;width: 458px;color: #df2943;left: 10px;bottom: 10px;}
#hot-product1 .list dl .ddleft span{font-size:32px;font-family: "微软雅黑";}
#hot-product1 .list dl .ddright{width: 46px;height: 46px;position: absolute;background: #FF5C00;color: white;border-radius:50% ;text-align: center;font-size: 19px;padding:7px ;right: 10px;bottom: 10px;}
#hot-product1 .list:hover {border: 1px solid #FF5C00;}
#hot-product1 .list dl .t-a:hover{color:#FF5C00;overflow: hidden;white-space: nowrap;text-shadow: ellipsis;}
#hot-product1 .list dl p{float: left;}
#hot-product1 .list dl .p1,.p2{width:44px;height: 22px;color: white;border-radius: 10px;background: #01939a;margin: 0 7px;;margin-bottom: 22px;float: left;font-size: 12px;
								font-weight: 100;text-align: center;line-height: 22px;display: inline-block;}
#hot-product1 .list dl a{display: block;margin-top: 45px;color: #666666;width: 370px;height: 20px;line-height: 20px;}
#hot-product1 .list dl .p4{font-size: 12px;float: left;width: 458px;height: 12px;font-weight: 100;position: absolute;left: 20px;bottom: 84px;}

/*Border制作三角形*/
#hot-product1 .list dl .p4 i{display:inline-block ;width: 0;height: 0;border-top:8px solid transparent ;border-left:15px solid #FF5C00 ;border-bottom:8px solid transparent ;vertical-align: -4px;}
#hot-product1 .list .adv{width: 40px;height: 21px;background: url(../img/index/myzj_law2_small.png);position: absolute;bottom: 10px;left: 550px;}


#pinpai{width: 100%;overflow: hidden;margin: 0 auto;}
#title3{width: 100%;padding: 20px 0;float: left;}
#title3 span{display: inline-block;width: 450px;height: 1px;background: #666666;float: left;margin-top: 13px;}
#title3 p{width: 119px ;height: 49px;float: left;background: url(../img2/newIndexHeader.png) no-repeat 0 -55px;margin: 0 35px;}
#pinpai ul{width: 100%;overflow: hidden;padding: 1px;}
#pinpai ul li a img.small{width: 100px;height: 40px;padding: 20px 38px;}
#pinpai ul li {background: white;border: 1px solid #cccccc;margin-top: -1px;margin-left: -1px;}
#pinpai ul li:hover {display: block;position: relative;z-index: 2;border: 1px solid #FF5C00;}


#fooler-server dl{width: 250px;height: 51px;float: left;margin-right: 60px;color: white;display: block;position: relative;}
#fooler-server {border-bottom: 1px solid #ff8500;background: #FF5C00;}
#fooler-server .last{margin-right:0 ;}
#fooler-server .fooler-server2{width: 1180px;height: 51px;margin: 0 auto;padding:32px 0 22px 0 ;}
#fooler-server dl dt{font-size: 23px;float: left;font-family: "微软雅黑";font-weight: bold;display: block;width: 250px;text-indent: 39px;}
#fooler-server dl dd{font-size:14px;float: right;font-family: "微软雅黑";font-weight: bold;display: block;}
#fooler-server dl i{width: 39px;height: 39px;display: block;position: absolute;}
#fooler-server dl .i1{background: url(../img/index/snow/sprite215new.png) no-repeat -136px 0;left: 0 ;top: 0;}
#fooler-server dl .i2{background: url(../img/index/snow/sprite215new.png) no-repeat -139px -39px;left: 0 ;top: 0;}
#fooler-server dl .i3{background: url(../img/index/snow/sprite215new.png) no-repeat -137px -80px;left: 0 ;top: 0;}
#fooler-server dl .i4{background: url(../img/index/snow/sprite215new.png) no-repeat -136px -120px;left: 0 ;top: 0;}
#fooler-server dl dt a{font-size: 23px;font-family: "微软雅黑";font-weight: bold;color: white;}

#fooler-link .fooler-link{width:1180px ;height: 196px;margin: 0 auto;background: url(../img/index/erweima.jpg) no-repeat 1057px 21px;}
#fooler-link{border-bottom:1px solid #e0e0e0 ;}
#fooler-link ul{width: 147px;height: 174px;float: left;position: relative;padding-top: 22px;padding-left: 28px;}
#fooler-link ul li{clear: both;color:#CCCCCC;line-height: 26px;} 
#fooler-link ul li.first a{color:black;font-size: 14px;}
#fooler-link ul li a{color:#666666;}

#fooler-link ul .ul-i1{width: 26px;height: 26px;display: block;position: absolute;left: 0;top: 22px;background: url(../img/index/snow/sprite215new.png) no-repeat -90px 0;}
#fooler-link ul .ul-i2{width: 26px;height: 26px;display: block;position: absolute;left: 0;top: 23px;background: url(../img/index/snow/sprite215new.png) no-repeat -90px -40px;}
#fooler-link ul .ul-i3{width: 26px;height: 26px;display: block;position: absolute;left: 0;top: 24px;background: url(../img/index/snow/sprite215new.png) no-repeat -90px -83px;}
#fooler-link ul .ul-i4{width: 26px;height: 26px;display: block;position: absolute;left: 0;top: 24px;background: url(../img/index/snow/sprite215new.png) no-repeat -90px -123px;}
#fooler-link ul .ul-i5{width: 26px;height: 26px;display: block;position: absolute;left: 0;top: 24px;background: url(../img/index/snow/sprite215new.png) no-repeat -90px -160px;}
#fooler-link ul .ul-i6{width: 26px;height: 26px;display: block;position: absolute;left: 0;top: 24px;background: url(../img/index/snow/sprite215new.png) no-repeat -90px -204px;}
#fooler-link ul li a:hover{color: #FF5C00;}


#fooler-intro .fooler-intro{width:450px;height: 156px;margin: 0 auto;padding-top: 21px;}
#fooler-intro {background: #ebebeb;}
#fooler-intro ul{height: 14px;display: block;height: 14px;margin-left: 77px;}
#fooler-intro ul li a{display: block;padding:0 10px;line-height: 14px;color: #666666;border-right: 1px solid #666666;}
#fooler-intro p{line-height: 30px;color: #666666;width: 471px;text-align: center;clear: both;font-family: "微软雅黑";}
#fooler-intro .i-top{display: block;width: 100px;height: 38px;background: url(../img/index/shanghai_industry.gif);margin: 0 auto;margin-bottom: 10px;}
#fooler-intro .i-bottom{display: block;width: 200px;height: 24px;background: url(../img/index/ghs.png) no-repeat left center;margin: 0 auto;}
#fooler-intro .i-bottom b{display: block;float: right;font-weight: 100;color: #666666;}
#fooler-intro ul li a:hover{color: #FF5C00;}
#left-block{width: 125px;height: 536px;position: fixed;z-index: 20;bottom: 0;left: 0;display: none;}
#left-top{width: 125px;background: url(../img2/leftFixImg.png) 0px 0;height: 171px;padding-top:60px ;}
#left-bottom .left-a img{width:106px;height: 320px;margin-left: 30px;}
#left-bottom span{display: block;width: 15px;height: 15px;border-radius:50% ;border: 1px solid #666666;color: #666666;position: absolute;top: 0;right: 0;font-size: 14px;text-align: center;line-height: 14px;font-family: "微软雅黑";background: white;}
#left-bottom {width: 125px;overflow: hidden;position: relative;}

#left-top p{width: 125px;height: 34px;float: left;}
#left-top .left-p1{cursor: pointer;}
#left-top .left-p2{cursor: pointer;}