#tips,#head,#content,#fooler-server,#fooler-link,#fooler-intro{width: 100%;margin: 0 auto;}
#tips{height: 74px;}

#head .head-1{background: url(../img/index/head1-bc.jpg) repeat-x;height:41px ;width: 100%;position: relative;}
#head .head-1 .head-ul1 a{background:url(../img/index/head-bc1.gif) no-repeat right center;float:left;padding: 13px 20px 7px 20px;line-height:20px;display: block;margin-top:3px ;font-size: 13px;font-weight: bold;}
#head .head-1 .head-ul1 a:hover{color: #FF5C00;}
#head .head-1 .head-ul1 .head-li1 a{color: #ff5c00;background: white;border: 1px solid #CCCCCC;border-radius:2px ;border-bottom: 0;}
#head .head-1 .head-ul1{margin-right: 291px;}
#head .head-1 .head-span{line-height: 41px;position: absolute;left: 550px;top: 0;color: #666666;}
#head .head-1 .head-ul2{left:798px;color: #666666;position: absolute;z-index: 2;}
#head .head-1 .head-ul1 #head-li3 .head-img{float:left;margin-right: 20px;}
#head .head-1 .head-ul1 #head-li3 span{float: left;}
#head .head-1 .head-ul1 #head-li3:hover a{background: white;border: 1px solid #FF5C00;padding: 12px 19px 7px 19px;border-bottom:0 ;border-radius: 3px;}
#head .head-1 .head-span a{color: #ff5c00;}
#head .head-1 .head-span a:hover{text-decoration: underline;}
#head .head-1 .head-ul2 li a{position:relative;line-height: 41px;padding:0 4px 0 6px;margin:0 1px 0 1px;border-left: 1px solid #cccccc;}
#head .head-1 .head-ul2 .better1 a{padding-right:18px;overflow: hidden;}
#head .head-1 .head-ul2 .better2 a{padding-right:16px;overflow: hidden;}
#head .head-1 .head-ul2 .better4 a{padding-right:16px;overflow: hidden;}
#head .head-1 .head-ul2 li a:hover{color: #FF5C00;}
#head .head-1 .head-ul2 .head-li2-ul1 li{float: none;clear: both;}
#head .head-1 .head-ul2 .head-li2-ul2 li{float: none;clear: both;}
#head .head-1 .head-ul2 .head-li2-ul3 li{float: none;clear: both;}
#head .head-1 .head-ul2 .head-li2-ul1 li a{background: white;border: 0;}
#head .head-1 .head-ul2 .head-li2-ul2 li a{background: white;border: 0;}
#head .head-1 .head-ul2 .head-li2-ul3 li a{background: white;border: 0;}
#head .head-1 .head-ul2 .head-li2-ul1{float: none; display: none;}
#head .head-1 .head-ul2 .head-li2-ul2{float: none;display: none;}
#head .head-1 .head-ul2 .head-li2-ul3{float: none;display: none;}
#head .head-1 .head-ul2 .better1:hover{border: 1px solid #ff5c00;background: white;}
#head .head-1 .head-ul2 .better2:hover{border: 1px solid #ff5c00;background: white;}
#head .head-1 .head-ul2 .better4:hover{border: 1px solid #ff5c00;background: white;}
#head .head-1 .head-ul2 .better1:hover .head-li2-ul1{display: block;}
#head .head-1 .head-ul2 .better2:hover .head-li2-ul2{display: block;}
#head .head-1 .head-ul2 .better4:hover .head-li2-ul3{display: block;}
#head .head-1 .head-ul2 .better1:hover .head-li2-ul1 a{padding: 0;margin-left: 7px;}
#head .head-1 .head-ul2 .better1:hover a{padding-right: 16px;line-height: 39px;}
#head .head-1 .head-ul2 .better2:hover a{padding-right: 14px;line-height: 39px;}
#head .head-1 .head-ul2 .better4:hover a{padding-right: 14px;line-height: 39px;}
#head .head-1 .head-ul2 .head-i1 {display: block;width: 8px;height: 4px;background: url(../img/index/head1-jiantou.png) no-repeat;position: absolute;left: 58px;top: 5px;transition: all 0.2s;}
#head .head-1 .head-ul2 .head-i2 {display: block;width: 8px;height: 4px;background: url(../img/index/head1-jiantou.png) no-repeat;position: absolute;left: 58px;top: 5px;transition: all 0.2s;}
#head .head-1 .head-ul2 .head-i3 {display: block;width: 8px;height: 4px;background: url(../img/index/head1-jiantou.png) no-repeat;position: absolute;left: 58px;top: 5px;transition: all 0.2s;}
#head .head-1 .head-ul2 .ahead-i1{display: block;width: 8px;height: 4px;background: url(../img/index/jiantou.png) no-repeat;position: absolute;left: 58px;top: 40px;opacity:0;transition: all 0.2s;}
#head .head-1 .head-ul2 .ahead-i2{display: block;width: 8px;height: 4px;background: url(../img/index/jiantou.png) no-repeat;position: absolute;left: 58px;top: 40px;opacity:0;transition: all 0.2s;}
#head .head-1 .head-ul2 .ahead-i3{display: block;width: 8px;height: 4px;background: url(../img/index/jiantou.png) no-repeat;position: absolute;left: 58px;top: 40px;opacity:0;transition: all 0.2s;}
#head .head-1 .head-ul2 .better1:hover .head-i1{top: -10px;opacity: 0;}
#head .head-1 .head-ul2 .better1:hover .ahead-i1{top: 5px;opacity: 1;}
#head .head-1 .head-ul2 .better2:hover .head-i2{top: -10px;opacity: 0;}
#head .head-1 .head-ul2 .better2:hover .ahead-i2{top: 5px;opacity: 1;}
#head .head-1 .head-ul2 .better4:hover .head-i3{top: -10px;opacity: 0;}
#head .head-1 .head-ul2 .better4:hover .ahead-i3{top: 5px;opacity: 1;}
#head-li3 a .head-img{border:0;width: 12px;height: 20px;background:url(../img/index/snow/sprite215new.png) no-repeat ;background-position-y:-240px;transition: all 0.2s ;background-position-x:-320px;}
#head-li3:hover a .head-img{background-position-y: -265px;}
#head .head-1 .head-ul2 .better1:hover .head-li2-ul1 a{line-height: 20px;}
#head .head-1 .head-ul2 .better2:hover .head-li2-ul2 a{line-height: 20px;}
#head .head-1 .head-ul2 .better4:hover .head-li2-ul3 a{line-height: 20px;}

#rightblock{width: 37px;height: 100%;background: white;position: fixed;z-index: 100;right: 0;top: 0;box-shadow: -2px -2px 10px #666666;}
#rightblock div{width: 37px;display: inline-block;}
#rightblock .ren{height: 22px;width: 22px;background:url(../img2/righticon.png) 0 0 no-repeat #FFFFFF;border: 8px solid white;margin-top: 80px;margin-bottom: 80px;
				cursor: pointer;}
#rightblock .ren:hover{background: url(../img2/righticon.png) -22px 0 #FF5C00;border: 8px solid #FF5C00;}
#rightblock i{display:block;width: 22px;margin-bottom:15px;height: 22px;background: url(../img2/righticon.png) 0 -24px no-repeat #FFFFFF;margin-left: 8px;margin-top: 20px;}
#rightblock a{width: 22px;overflow: hidden;display: block;margin-left: 12px;margin-bottom:10px;}
#rightblock span{color:#FF5C00;width: 22px;overflow: hidden;display: block;font-size: 16px;margin-left: 5px;}
#rightblock .p-top{height: 1px;width: 20px;background: #CCCCCC;margin-left: 8px;}
#rightblock .p-bottom{height: 1px;width: 20px;background: #CCCCCC;margin-left: 8px;margin-top: 10px;}


#rightblock .che:hover i{background: url(../img2/righticon.png) -22px -24px no-repeat #FF5C00}
#rightblock .che:hover {background: #FF5C00;cursor: pointer;}
#rightblock .che:hover a{color: white;}
#rightblock .che:hover span{color:white;}

#rightblock .tu{height: 22px;width: 22px;background:url(../img2/righticon.png) 0 -50px no-repeat #FFFFFF;border: 8px solid white;margin-top: 40px;margin-bottom: 30px;
				cursor: pointer;}
#rightblock .tu:hover{background:url(../img2/righticon.png) -22px -50px no-repeat #FF5C00;border:8px solid #FF5C00;}

#rightblock .xing{height: 22px;width: 22px;background:url(../img2/righticon.png) 0 -74px no-repeat #FFFFFF;border: 8px solid white;margin-bottom: 30px;
				cursor: pointer;}
#rightblock .xing:hover{background:url(../img2/righticon.png) -22px -74px no-repeat #FF5C00;border:8px solid #FF5C00;}

#rightblock .kefu-i{display: block;width: 22px;height: 22px;background:url(../img2/righticon.png) -22px -100px no-repeat #FF5C00 ;cursor: pointer;}
#rightblock .kefu-span{width: 24px;overflow: hidden;display: block;font-size: 12px;color: white;background: #FF5C00;}
#rightblock .kefu{background: #FF5C00;padding-bottom: 10px;}

#rightblock .zhiding{height: 22px;width: 22px;background:url(../img2/righticon.png) 0 -130px no-repeat #FFFFFF;border: 8px solid white;margin-top: 40px;margin-bottom: 30px;
				cursor: pointer;}
#rightblock .zhiding:hover{background:url(../img2/righticon.png) -22px -130px no-repeat #FF5C00;border:8px solid #FF5C00;}
#rightblock #login{display:none;width:280px;height: 155px;position: fixed;z-index: 3;background:url(../img2/userimg.jpg) no-repeat center 30px white;right: 55px;top:80px;box-shadow: -5px 5px 10px #CCCCCC;}
#login p {margin-top:100px ;margin-left: 40px;display: inline-block;height: 19px;line-height: 19px;}
#login p a{color: #FF5C00;display: inline-block;width: 44px;margin-bottom: 0;}
#login p span{line-height: 19px;display: inline-block;width: 120px;font-size: 12px;color: black;}


#rightblock #login2{display:none;width:280px;height: 155px;position: fixed;z-index: 10;background:url(../img2/userimg.jpg) no-repeat center 30px white;right: 55px;top:450px;box-shadow: -5px 5px 10px #CCCCCC;}
#login2 p {margin-top:100px ;margin-left: 40px;display: inline-block;height: 19px;line-height: 19px;}
#login2 p a{color: #FF5C00;display: inline-block;width: 44px;margin-bottom: 0;}
#login2 p span{line-height: 19px;display: inline-block;width: 120px;font-size: 12px;color: black;}

#kefu-float{display:none;padding:15px 25px;position: fixed;z-index: 10;right: 55px;top:530px;box-shadow: -5px 5px 10px #CCCCCC;background: white;}
#kefu-float p{}

#zhiding-float{display:none;padding:15px 25px;position: fixed;z-index: 10;right: 55px;top:670px;box-shadow: -5px 5px 10px #CCCCCC;background: white;}
#zhiding-float p{}


#head .head-2{background: ;height:90px ;padding-top:28px;width: 100%;}
#head .head-2 .head-2-img1{clear:both;position: absolute;left: 177px;top: 68px;width: 150px;height: 53px;}
#head .head-2 .head-2-div dl{float:left;margin-left: 34px;text-align: center;cursor: pointer;}
#head .head-2 .head-2-div{position: absolute;left: 386px;top: 144px;}
#head .head-2 .head-2-div dl dt{margin-bottom: 8px;}
#head .head-2 .head-2-div dl dd{color: #666666;}


#head .head-2 .head-2-right{height:50px;width: 622px;position: absolute;left: 405px;top:84px;}
#head .head-2 .head-2-right .head-2-search{width: 554px;height: 40px;background: #ff5c00;box-shadow: 3px 1px 0px #CCCCCC;}
#head .head-2 .head-2-right .head-2-search input{color:#666666;text-indent:8px;font-size:11px;outline:none;width: 428px;height: 36px;border: 0;margin:2px 41px 0 2px;float: left;}
#head .head-2 .head-2-right .head-2-search img{float: left;margin-top: 8px;}
.head-2 .head-2-right .head-2-ul li{cursor: pointer;margin-right: 13px;margin-top: 9px;color: #666666;}
.head-2 .head-2-right .head-2-ul li:hover{color: #FF5C00;}
.head-2 .head-2-right .head-2-ul {position: absolute;left: 0;top: 40px;}

#content{width: 100%;}
#nav{height: 35px;}
#nav ul li a{margin-left: 40px;line-height: 35px;font-size: 14px;font-family: "微软雅黑";}
#nav ul .nav-i{width: 9px;height: 6px;display:block;background-image: url(../img/index/snow/top_bar2.png);background-position: -110px -65px;float: left;margin-top:14px;margin-left: 10px;}
#nav ul .nav-a{float: left;}
#nav-bottom{height: 21px;width: 100%;top:275px;background: url(../img/index/snow/nav_bottom_bg.png) repeat-x;position: absolute;z-index: 3;}
#nav-right .img{float:left;display:block;background:url(../img/index/snow/top_bar2.png) no-repeat -139px -71px ;width: 28px;height: 28px;}
#nav-right {width: 220px;height: 25px;float: left;margin-left: 170px;margin-top: 10px;position: relative;overflow: hidden;}
#nav-right .text{position:absolute;left:35px;top:0;text-indent: 10px;color: #FF5C00;}
#nav .nav-ul2{clear: both;position: absolute;z-index: 100;left: 0;top: 35px;display: none;}
#nav .nav-ul2 li{position:relative;clear: both;color: #666666;width: 139px;text-indent: 7px;background: white;z-index: 2;}
#nav ul .nav-li1:hover .nav-i{background-position: -117px -74px;}
#nav ul .nav-li1:hover .nav-ul2{display: block;cursor: pointer;}

#nav .nav-ul2 li .nav-left{width: 15px;height: 15px;display: block;float: left;margin-top: 12px;}
#nav .nav-ul2 li .nav-right{width: 15px;height: 15px;display: block;float:right;background:url(../img2/xinmayup.png) no-repeat -117px -84px;position: absolute;left: 115px;top: 15px;}
#nav .nav-ul2 li .left1{background:url(../img/index/snow/top_bar2.png) no-repeat -114px 0 ;}
#nav .nav-ul2 li .left2{background:url(../img/index/snow/top_bar2.png) no-repeat -113px -20px ;}
#nav .nav-ul2 li .left3{background:url(../img/index/snow/top_bar2.png) no-repeat -129px 0 ;}
#nav .nav-ul2 li .left4{background:url(../img/index/snow/top_bar2.png) no-repeat -146px 0px ;}
#nav .nav-ul2 li .left5{background:url(../img/index/snow/top_bar2.png) no-repeat -129px -20px ;}
#nav .nav-ul2 li .left6{background:url(../img/index/snow/top_bar2.png) no-repeat -146px -24px ;}
#nav .nav-ul2 li .left7{background:url(../img/index/snow/top_bar2.png) no-repeat -113px -42px ;}
#nav .nav-ul2 li .left8{background:url(../img/index/snow/top_bar2.png) no-repeat -131px -44px ;}
#nav .nav-ul2 li .left9{background:url(../img/index/snow/top_bar2.png) no-repeat -151px -43px ;}

#nav .nav-ul2 li:hover .whiteborder{height: 37px;border-right:1px solid white ;line-height: 37px;}
#nav .nav-ul2 li .whiteborder {height: 39px;line-height: 39px;padding-left: 20px;background: white;line-height: 39px;position: relative;z-index: 10;}
#nav ul .zhuanqu:hover ul{opacity:1;border: 1px solid #FF5C00;border-top:0;width:78px;}
#nav ul .zhuanqu a:hover{color: #FF5C00;}
#nav ul .zhuanqu ul{opacity: 0;transition: all 1s;border: 1px solid #FF5C00;border-top:0;}
#nav .nav-ul2 li:hover .nav-right{top: 14px;left:114px ;}
#nav .nav-ul2 li .bignav{width: 948px;overflow: hidden;position: absolute;background: white;left: 138px;top: -1px;z-index: 1;display: none;border-right: 1px solid #FF5C00;border-bottom: 1px solid #FF5C00;border-left: 1px solid #FF5C00;border-top: 1px solid #FF5C00;}
#nav .nav-ul2 li:hover .bignav{width: 947px;display: block;}
#nav .nav-ul2 li:hover .bignav .box-left{padding: 8px 29px;}
#nav .nav-ul2 li .bignav .box-left{width: 675px;overflow: hidden;float: left;padding: 9px 30px;border-right: 1px dotted #CCCCCC;}
#nav .nav-ul2 li .bignav .box-right{width: 210px;height: 349px;overflow: hidden;float: right;}
#nav .nav-ul2 li .bignav .box-left dl dt{font-weight: bold;border-bottom: 1px dotted #CCCCCC;line-height: 26px;}
#nav .nav-ul2 li .bignav .box-left dl dd{line-height: 26px;}
#nav .nav-ul2 li .bignav .box-right img{float: left;padding: 10px 2px;}
#nav .nav-ul2 li .bignav .box-left dl dt a{margin-left: 0;line-height: 26px;font-size: 12px;color:#666666;}
#nav .nav-ul2 li .bignav .box-left dl dd a{margin-left: 0;line-height: 26px;font-size: 12px;padding: 0 4px;color:#666666;}
#nav .nav-ul2 li .bignav .box-left dl dt a:hover{color: #FF5C00;}
#nav .nav-ul2 li .bignav .box-left dl dd a:hover{color: #FF5C00;}
#select-1 .bannerstyle{background: #FF5C00;}




#fooler-server dl{width: 250px;height: 51px;float: left;margin-right: 60px;color: white;display: block;position: relative;}
#fooler-server {border-bottom: 1px solid #ff8500;background: #FF5C00;}
#fooler-server .last{margin-right:0 ;}
#fooler-server .fooler-server2{width: 1200px;height: 51px;margin: 0 auto;padding:32px 0 22px 0 ;}
#fooler-server dl dt{font-size: 23px;float: left;font-family: "微软雅黑";font-weight: bold;display: block;width: 250px;text-indent: 39px;}
#fooler-server dl dd{font-size:14px;float: right;font-family: "微软雅黑";font-weight: bold;display: block;}
#fooler-server dl i{width: 39px;height: 39px;display: block;position: absolute;}
#fooler-server dl .i1{background: url(../img/index/snow/sprite215new.png) no-repeat -136px 0;left: 0 ;top: 0;}
#fooler-server dl .i2{background: url(../img/index/snow/sprite215new.png) no-repeat -139px -39px;left: 0 ;top: 0;}
#fooler-server dl .i3{background: url(../img/index/snow/sprite215new.png) no-repeat -137px -80px;left: 0 ;top: 0;}
#fooler-server dl .i4{background: url(../img/index/snow/sprite215new.png) no-repeat -136px -120px;left: 0 ;top: 0;}
#fooler-server dl dt a{font-size: 23px;font-family: "微软雅黑";font-weight: bold;color: white;}

#fooler-link .fooler-link{width:1200px ;height: 196px;margin: 0 auto;background: url(../img/index/erweima.jpg) no-repeat 1057px 21px;}
#fooler-link{border-bottom:1px solid #e0e0e0 ;}
#fooler-link ul{width: 147px;height: 174px;float: left;position: relative;padding-top: 22px;padding-left: 28px;}
#fooler-link ul li{clear: both;color:#CCCCCC;line-height: 26px;} 
#fooler-link ul li.first a{color:black;font-size: 14px;}
#fooler-link ul li a{color:#666666;}

#fooler-link ul .ul-i1{width: 26px;height: 26px;display: block;position: absolute;left: 0;top: 22px;background: url(../img/index/snow/sprite215new.png) no-repeat -90px 0;}
#fooler-link ul .ul-i2{width: 26px;height: 26px;display: block;position: absolute;left: 0;top: 23px;background: url(../img/index/snow/sprite215new.png) no-repeat -90px -40px;}
#fooler-link ul .ul-i3{width: 26px;height: 26px;display: block;position: absolute;left: 0;top: 24px;background: url(../img/index/snow/sprite215new.png) no-repeat -90px -83px;}
#fooler-link ul .ul-i4{width: 26px;height: 26px;display: block;position: absolute;left: 0;top: 24px;background: url(../img/index/snow/sprite215new.png) no-repeat -90px -123px;}
#fooler-link ul .ul-i5{width: 26px;height: 26px;display: block;position: absolute;left: 0;top: 24px;background: url(../img/index/snow/sprite215new.png) no-repeat -90px -160px;}
#fooler-link ul .ul-i6{width: 26px;height: 26px;display: block;position: absolute;left: 0;top: 24px;background: url(../img/index/snow/sprite215new.png) no-repeat -90px -204px;}
#fooler-link ul li a:hover{color: #FF5C00;}


#fooler-intro .fooler-intro{width:450px;height: 156px;margin: 0 auto;padding-top: 21px;}
#fooler-intro {background: #ebebeb;}
#fooler-intro ul{height: 14px;display: block;height: 14px;margin-left: 77px;}
#fooler-intro ul li a{display: block;padding:0 10px;line-height: 14px;color: #666666;border-right: 1px solid #666666;}
#fooler-intro p{line-height: 30px;color: #666666;width: 471px;text-align: center;clear: both;font-family: "微软雅黑";}
#fooler-intro .i-top{display: block;width: 100px;height: 38px;background: url(../img/index/shanghai_industry.gif);margin: 0 auto;margin-bottom: 10px;}
#fooler-intro .i-bottom{display: block;width: 200px;height: 24px;background: url(../img/index/ghs.png) no-repeat left center;margin: 0 auto;}
#fooler-intro .i-bottom b{display: block;float: right;font-weight: 100;color: #666666;}
#fooler-intro ul li a:hover{color: #FF5C00;}
#left-block{width: 125px;height: 536px;position: fixed;z-index: 20;bottom: 0;left: 0;display: none;}
#left-top{width: 125px;background: url(../img2/leftFixImg.png) 0px 0;height: 171px;padding-top:60px ;}
#left-bottom .left-a img{width:106px;height: 320px;margin-left: 30px;}
#left-bottom span{display: block;width: 15px;height: 15px;border-radius:50% ;border: 1px solid #666666;color: #666666;position: absolute;top: 0;right: 0;font-size: 14px;text-align: center;line-height: 14px;font-family: "微软雅黑";background: white;}
#left-bottom {width: 125px;overflow: hidden;position: relative;}





.buy-car{cursor:pointer;width: 156px;height: 42px;background: url(../img/index/snow/sprite215new.png) -140px -240px;position: absolute;right: 200px;top: 85px;}
.car-tips{width: 400px;height: 0px;border: 2px solid #FF5C00;background: white;position: absolute;right: 200px;top: 125px;z-index: 99;display: none;}


#main{width: 100%;overflow:hidden;background:#ececec;padding-top: 15px;}
#main .main{width: 1081px;overflow:hidden;margin: 0 auto;padding:  0 171px;}
#main .main .left{width: 200px;height: 60px;border: 1px solid #C1C1C1;float: left;margin-left: 50px;margin-right: 20px;}
#main .main .left ul li{height: 29px;line-height: 29px;text-indent: 5px;width: 200px;background: white;}
#main .main .right{width: 788px;overflow:hidden;float: left;}
#main .main .right .right-top{background:white;width: 100%;height: 148px;margin-bottom: 10px;border: 1px solid #C1C1C1;}

#main .main .right .right-top ul{width: 778px;height: 29px;line-height: 29px;background: #f8f8f8;padding-left: 10px;float: left;}
#main .main .right .right-top ul li a{font-size: 13px;margin-right: 5px;}
#main .main .right .right-top ul li span{margin-left: 5px;}
#main .main .right .right-top ul li a:hover{color:#FF5C00;}
#main .main .right .right-top div{width: 763px;padding-left:25px ;background: white;height: 29px;line-height: 29px;float: left;border-bottom: 1px dashed  #DCDDD8;}
#main .main .right .right-top div a{display: block;float: left;color: blue;margin: 0 50px 0 10px;
}
#main .main .right .right-top div a:hover{color: red;text-decoration: underline;}
#main .main .right .right-top div p{float:left ;}


#main .main .right .right-middle{width: 790px;overflow: hidden;}
#main .main .right .right-middle .box1{width: 790px;height:32px;border-bottom: 2px solid #FF5C00;}
#main .main .right .right-middle .box1 li a{display: block;width: 66px;height: 32px;line-height: 32px;font-weight: bold;text-align: center;background: #f4f4f4;margin-right: 1px;}
#main .main .right .right-middle .box1 li.li-class a{color: white;background: #FF5C00;}
#main .main .right .right-middle .box1 p{float: left;margin-left: 300px;margin-right: 10px;line-height: 32px;}
#main .main .right .right-middle .box1 button{float: left;margin-left: 10px;height: 25px;width: 50px;border: 1px solid #C1C1C1;background:#f4f4f4 ;}

#main .main .right .right-middle .product{width:790px ;overflow: hidden;background: white;}
#main .main .right .right-middle .product dl{width: 160px;height: 280px;padding: 5px;margin: 10px 13px 10px 14px;float: left;}
#main .main .right .right-middle .product dl a{font-family: "宋体";}
#main .main .right .right-middle .product dl a:hover{color: orangered;}
#main .main .right .right-middle .product dl span{color: red;}
#main .main .right .right-middle .product dl dt{width: 160px;height:58px;line-height: 20px;}
#main .main .right .right-middle .product dl dd{width: 160px;height: 60px;margin-top: 10px;}
#main .main .right .right-middle .product dl dd .p1{color: #e60000;font-weight: bold;font-family: "微软雅黑";font-size: 14px;line-height: 20px;}
#main .main .right .right-middle .product dl dd .p2 .left-btn{cursor:pointer;display: block;width: 65px;line-height: 30px;height: 30px;padding: 0 8px;color: white;font-weight: bold;text-align: center;background: #FF4500;font-size: 8px;float: left;}
#main .main .right .right-middle .product dl dd .p2 .right-btn{cursor:pointer;display: block;float: left;width: 24px;height: 30px;padding: 0 8px;color: #666666;line-height: 30px;text-align: center;background: url(../img2/btn_middle_flat.png) -10px -90px;border: 1px solid #F1DEFF;margin-left: 20px;}
#main .main .right .right-middle .product dl:hover{box-shadow:0px 1px 15px #E7E7E7 ;}
#main .main .right .right-middle .product dl img{cursor: pointer;width: 160px;height: 160px;}

#right-bottom{width: 790px;height: 30px;margin: 20px 0;}
#right-bottom span{display: block;float: left;padding: 3px 5px;}
#right-bottom .leftbtn{margin: 0 5px;float: left;border: 1px solid #C1C1C1;color: #b1b1b1;outline: none;background: #ececec;}
#right-bottom .rightbtn{margin: 0 5px;float: left;border: 1px solid #C1C1C1;color: #b1b1b1;outline: none;background: #ececec;}
#right-bottom .text{display: block;background: #FF4500;color: white;}

#small-img{width: 50px;height: 50px;display: none;}
