.search_ipt{
	height: 0.32rem !important;
    margin-top: 0.05rem !important;
    border-radius: 0.1rem;
    box-shadow: none;
    left: 0.47rem !important;

}
.historyWordShow{
	width: 100%;
	padding:0.15rem ;
	
}
.search_page .histort_world_list{
	background: white;
	padding: 0 0 0.1rem 0rem;
}
.search_page .histort_world_list span{
	padding: 0.05rem 0.1rem;
	margin: 0.05rem 0.1rem;
	background: #f1f1f1;
	display: inline-block;
	
	text-align: center;
	
}
.search_page .histort_world_list li:last-child {
	border: none;
}

.search_page .ion-trash-a:before {
    content: "";
    font-size: 0.18rem;
}